body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.buttons button {
    padding: 10px;
    background: #1e293b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.buttons button:hover {
    background: #22c55e;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    border: none;
}

input[type="color"] {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.generate {
    background: #22c55e;
    padding: 12px;
    width: 95%;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.generate:hover {
    background: #16a34a;
}

.preview {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid white;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
